*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: raleway,sans-serif;
    background: #F1F1F1;
    min-width: 1349px !important;
}
/*----------------------------------------------*/
/*UTILITY  CLASS*/
/*----------------------------------------------*/
.badge{
    background: #000;
    color: white;
    border: none;
    padding: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.badge-selected{
    background: #000;
    color: white;
    border: none;
    padding: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.badge-unselected{
    background: #e7e7e7;
    color: black;
    border: none;
    padding: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.primary-btn{
    display: inline-block;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: solid #ccc 1px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
}
.primary-btn:hover{
    background: #ccc;
    cursor: pointer;
    transition: all 0.25s;
}
.m-20{
    margin: 20px;
}
/*----------------------------------------------*/
/*---------------------Header-------------------*/
/*----------------------------------------------*/
.blog-head h1{
    text-align: center;
    font-size: 36px;
    padding-top: 50px;
/*    font-family: helvetika,sans-serif;*/
    text-transform: uppercase;
    font-weight: 600;
}
.blog-head p{
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    padding-top: 30px;
}
/*----------------------------------------------*/
/*---------------------Blogs-------------------*/
/*----------------------------------------------*/
.blog-post{
    margin: 0 10px;
/*    border: red 1px solid;*/
    margin-top: 50px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-gap: 1rem;
}
/*----------------------------------------------*/
/*---------------------Blog-1-------------------*/
/*----------------------------------------------*/

.blog-1{
/*    width: 870px;*/
/*    height: 536pxpx;*/
    background: #FFF;
}
.blog-description .title{
    text-transform: uppercase;
    padding: 10px;
    font-weight: 500;
}
.blog-description .description{
    font-size: 18px;
    padding: 10px;
}
.blog-description span{
    color: grey;
}
.blog-description .content{
    padding: 10px;
    font-size: 15px;
    line-height: 1.5;
}
.blog-footer{
/*    border: 1px solid red;*/
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.comment{
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    line-height: 40px;
}
/*----------------------------------------------*/
/*---------------------My-Profile-------------------*/
/*----------------------------------------------*/
.my-profile{
    width: 415px;
    height: 420px;
    background: #fff;
/*    border: solid 1px red;*/
}
.blog-2{
    width: 870px;
    height: 536pxpx;
    background: #FFF;
    margin-top: 30px;
}
/*----------------------------------------------*/
/*---------------------popular post-------------*/
/*----------------------------------------------*/
.popular-post{
    width: 420px;
    height: 375px;
    margin-top: -100px;
    background: #FFF;
/*    border: 1px solid red;*/
}
.popular-post .header{
    font-weight: 400;
    padding: 20px;
    background: #E7E7E7;
}
.pop-post{
    display: flex;
    justify-content: flex-start;
    height: 50px;
}
.popular-post .icon-img{
    display: inline-block;
}
.popular-post .pop-post-content{
    display: inline-block;
    height: 50px;
    padding: 5px;
    padding-left: 15px;
}
.popular-post .pop-post-content h3{
    font-weight: 400; 
}
/*----------------------------------------------*/
/*--------------------- Tags -------------*/
/*----------------------------------------------*/
.tags{
    height: 220px;
    width: 420px;
    background: #fff;
    margin-top: -275px;
}
.tags .tag-head{
    font-weight: 400;
    padding: 20px;
    background: #E7E7E7;
}
.tags p{
    padding: 20px;
    height: 60px;
    line-height: 35px;
}
.tags span{
    padding: 5px;
    margin: 3px;
}
/*----------------------------------------------*/
/*--------------------- Footer -------------*/
/*----------------------------------------------*/
.footer{
    height: 180px;
    background: #616161;
    padding: 10px;
    cursor: default;
}
.secondary-btn{
    display: inline-block;
    padding: 15px;
    background: #000;
    color: #fff!important;
    cursor: pointer;
    margin: 5px;
}
.secondary-btn:hover{
    background: #ccc;
    color: #111 !important;
    transition: all 0.25s;
    
}
.secondary-btn.previous{
    opacity: 0.3;
}
.secondary-btn.previous:hover{
    background: #464646;
    color: #FFF !important;
    opacity: 0.3;    
    cursor: not-allowed;
    transition: all 0.25s;
}
.footer-foot{
    text-align: center;
    padding: 30px;
    color: white;
}